@model List<Pokedex.Models.Pokemon>
@{
    ViewData["Title"] = "Home";
    string BackgroundColor(string cor)
    {
        return cor.Replace("1)", "0.75)");
    }
}

<div class="pt-5 container">
    <div class="row">
        <div class="col mx-auto text-center">
            <h1 class="display-4 text-white">Pokédex</h1>
            <div class="my-3">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter">Ver
                    Todos</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#aab">Aço</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#39f">Água</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#76e">Dragão</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#fc3">Elétrico</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#e9e">Fada</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#66b">Fantasma</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#f42">Fogo</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#6cf">Gelo</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#ab6">Inseto</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#b54">Lutador</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#aa9">Normal</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#ba6">Pedra</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#7c5">Planta</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#f59">Psíquico</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#754">Sombrio</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#db5">Terrestre</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#a59">Venenoso</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#89f">Voador</button>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

        @foreach (Pokemon pokemon in Model)
        {
            <!-- Card Pokemon - Inicio -->
            <div class="col @string.Join(' ', pokemon.Tipos.Select(t => t.Tipo.Nome))">
                <a asp-action="Details" asp-route-id="@pokemon.Numero"  class="text-decoration-none">
                    <div class="card" style="background-color: @BackgroundColor(pokemon.Tipos.ToArray()[0].Tipo.Cor)">
                        <img src="@pokemon.Imagem" class="card-img-top" alt="@pokemon.Nome" />
                        <div class="card-body">
                            <h5 class="card-text mb-1 text-white">Nº @pokemon.Numero.ToString("000")</h5>
                            <h3 class="card-title text-dark">@pokemon.Nome</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex gap-2 my-2">
                                    @foreach (PokemonTipo tipo in pokemon.Tipos)
                                    {
                                        <a href="#" class="btn text-white"
                                         style="background-color:@tipo.Tipo.Cor">@tipo.Tipo.Nome</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card Pokemon - Fim -->
        }

        <div id="zeroPokemon" class="col-lg-12 text-center" hidden>
            <h1 class="my-3 text-danger">Nenhum Pokemon Encontrado</h1>
        </div>
    </div>

</div>